.survey {
  display: flex;
  flex-flow: column;
  width: 100%;
  min-height: 100svh;

  @media (min-width: 1025px) {
    flex-flow: row;
  }

  > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 2rem 1rem;

    @media (min-width: 1025px) {
      padding: 10vw;
    }
  }
}

/* ********************
	Form styling
********************* */

.form-container {
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 1.25rem !important;
  }

  form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    flex-grow: 1;
    gap: 0.75rem;

    @media (min-width: 1025px) {
      justify-content: center;
      gap: 1.25rem;
    }

    fieldset {
      border: none;
      display: flex;
      gap: 0.75rem;
      flex-direction: column;
      margin: 0;
      padding: 0;

      @media (min-width: 1025px) {
        gap: 0.875rem;
      }
    }
  }

  @media (min-width: 1025px) {
    button {
      align-self: flex-start;
    }
  }
}

input,
label:has(input[type="radio"]),
select {
  color: var(--blue-dark);
  background-color: var(--white);
  border: 2px solid var(--blue-dark);
  border-radius: 0.75rem;

  display: flex;
  width: 100%;
  min-height: 3.75rem;
  padding: 1rem 1.25rem 1.375rem 1.25rem;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;

  font-family: "Familjen Grotesk";
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 110%;

  transition: box-shadow 0.2s ease-out;

  &:focus,
  &:hover {
    outline: none;
    box-shadow: 0px 0px 0px 4px rgba(0, 49, 116, 0.2);
  }
}

label:has(input[type="radio"]) {
  cursor: pointer;
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    transition: width 0.2s ease-out;
  }
}

/* Hide the actual radio button */
input[type="radio"] {
  display: none;
}

/* Styling when radio button is checked */
label:has(input[type="radio"]:checked) {
  background-color: var(--blue-dark);
  color: var(--white);

  &:before {
    background-image: url("../assets/checkmark.svg");
    background-position: center;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    top: 2px;
  }

  &:hover {
    box-shadow: none;
  }
}

select {
  appearance: none;
  background-image: url("../assets/arrow-down.svg");
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: right 10px center;
}
